:root {
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
}

.card {
  border-radius: var(--border-radius);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card .inner {
  padding: 12px 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background: #222;
  color: #fff;
  border-radius: var(--border-radius);
  overflow: visible;
}

.card .inner svg {
  flex-shrink: 0;
  overflow: visible;
}

.example-2 {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-2 .inner {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 2px;
}

.example-2::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(102, 102, 102, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 300px;
  width: 100px;
  transform: translate(0);
  position: absolute;
  animation: rotate 5s linear forwards infinite;
  z-index: 0;
  top: 50%;
  transform-origin: top center;
}

.example-2:hover::before {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(147, 51, 234, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
